body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;

  padding: 15px;

  border: 1px solid #570553;
  background-color: rgb(216, 189, 241);
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
}
